.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  bbborder: 1px solid yellow;
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  
  color: white;
  bbborder: 1px solid yellow;
}

.App-link {
  color: #09d3ac;
}

.router-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #09d3ac;
  list-style-type: none;
  width: 100%;
  bbborder: 1px solid red;
  flex-wrap: wrap;
}

.router-links > li {
  margin: 0px 10px;
}

.router-links > li > a {
  text-decoration: none !important;
  color: #09d3ac;
}

